@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
	width: 100%;
	min-height: 100dvh;
	overflow: auto;
	background: url("./assets/bg.webp") no-repeat;
	background-size: cover;
	background-position: center;
}

.light body {
	background: url("./assets/light-bg.webp") no-repeat;
	background-size: cover;
	background-position: center;
}

#root {
	position: relative;
	min-height: 100dvh;
}

@layer {
	@layer {
		.glass {
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.light .glass {
			background: rgba(50, 50, 50, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}
		.glass-mod {
			background: rgba(30, 41, 59, 0.314);
			border: 1px solid rgba(30, 41, 59, 50);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}
		.glass-head-btn {
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}
	}
}
